---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<div class="notice--info">
  <h4>Confidentiality Notice</h4>
  <p>Due to non-disclosure agreements (NDAs) with various clients and employers, some project details and technical specifications have been generalized or omitted to protect proprietary information. The portfolio showcases the scope and nature of work performed while respecting confidentiality requirements.</p>
</div>

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

